<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PiPlayer</title>
        <meta name="description" content="music">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.8.0.min.js"></script>
    </head>
    <body>
        <div id="page-wrapper">
            <h1>PiPlayer</h1>
            <p>Logged in as: {{ username }}</p>

            <audio></audio>
            <div id="controller">
                <button id="play_button" class="play"></button>
            </div>

            <h2>Currently playing:</h2>
            <p id="currently_playing">nothing</p>

            <h2>Playlist:</h2>
            <div id="play_list_wrapper">
                <ul id="play_list"></ul>
            </div>

            <h2>Music:</h2>
            <div id="music">
                <ul>
                {% for artist in music.artists %}
                    <li class="artist">{{ artist|e }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>